
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 3% 8%;
    --foreground: 0 0% 95%;

    --card: 180 3% 11%;
    --card-foreground: 0 0% 95%;

    --popover: 180 3% 11%;
    --popover-foreground: 0 0% 95%;

    --primary: 152 57% 47%;
    --primary-foreground: 180 3% 8%;

    --secondary: 152 57% 27%;
    --secondary-foreground: 0 0% 95%;

    --muted: 180 3% 15%;
    --muted-foreground: 0 0% 85%;

    --accent: 152 57% 37%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 95%;

    --border: 180 3% 15%;
    --input: 180 3% 15%;
    --ring: 152 57% 47%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-image: radial-gradient(circle at center, rgba(49, 151, 103, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-gradient-to-r from-[#145D3E] via-[#2AB673] to-[#47D58C] bg-clip-text text-transparent;
  }
  .bg-gradient {
    @apply bg-gradient-to-r from-[#145D3E] via-[#2AB673] to-[#47D58C];
  }
  .gradient-baux {
    @apply bg-gradient-to-r from-[#FF5200] to-[#FFAB7B];
  }
  .gradient-data {
    @apply bg-gradient-to-r from-[#4A00FF] to-[#B27BFF];
  }
  .gradient-dgld {
    @apply bg-gradient-to-r from-[#FFD000] to-[#FFE47B];
  }
  .gradient-xprl {
    @apply bg-gradient-to-r from-[#FF1A88] to-[#FF7BC4];
  }
  .gradient-farm {
    @apply bg-gradient-to-r from-[#C4A42B] to-[#E8D690];
  }
  .gradient-ngas {
    @apply bg-gradient-to-r from-[#2970FF] to-[#7BB1FF];
  }
  .gradient-oil {
    @apply bg-gradient-to-r from-[#5C00FF] to-[#B47BFF];
  }
  .gradient-chrs {
    @apply bg-gradient-to-r from-[#00FF8C] to-[#7BFFC9];
  }
  .gradient-fish {
    @apply bg-gradient-to-r from-[#00FFE0] to-[#7BFFF1];
  }
}
